.button {
  padding: 0.7rem 1.2rem;
  border-radius: 0.7rem;
  border: none;
  outline: none;
  background-color: var(--accent);
  box-shadow: 4px 4px 4px rgba(190, 32, 32, 0.25);
  color: var(--font-color);
}