:root {
  --font-color: #FBFCFD;
  --background: #1C2041;
  --accent: #A5AECE;
  --primary: #2772B7;
}

html {
  box-sizing: border-box;
  /* color: var(--font-color); */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family:'Roboto', 'Source Sans Pro', sans-serif;
  font-size: clamp(1rem, 1vw, 2rem); 
  margin: 0;
  background:var(--background);
  color: var(--font-color);
}

